@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Serif+Pro:wght@300&display=swap');

/* reset rules */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Serif pro', sans-serif;
    font-weight: 300;
    color: #020202;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

/* logo */

#logo {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #950952;
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    padding-right: 30px;
}

#menu li {
    float: right;
    list-style-type: none;
    padding: 15px;
}

#menu a {
    text-decoration: none;
    color: #020202;
    font-weight: bold;
}

#menu a:hover {
    color: #f2af29;
}

#menu .active {
    color: #950952;
}

/* hero-image */

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.png');
    overflow: hidden;
}

#hero-image-text {
    background-color: rgba(242, 175, 41, 0.7);
    height: 130px;
    width: auto;
}

#cover-text {
    text-align: center;
    font-size: 550%;
    font-weight: 600;
    margin-top: 150px; 
    color: #fefcfb;
}

/* welcoming words */

#welcome {
    margin: 20px 0;
    font-size: 170%;
    text-align: center;
    font-weight: 400;
    line-height: 150%;
}

/* booking button */

.booking a {
    text-decoration: none;
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    font-size: 200%;
    color: #fefcfb;
    padding: 10px;
    text-align: center;
    /* styling button */
    width: 250px;
    height: 45px;
    margin: 0 auto;
    display: block;
    background-color: #950952;
    border-radius: 5px;
}

.booking a:hover {
    color: #f2af29;
}

/* gallery images */

#gallery {
    margin-top: 50px;
}

#gallery > img {
    vertical-align: top;
    display: inline-block;
    width: 16%;
}

hr {
    border: 1px solid #f2af29;
    width: 100%;
    margin-bottom: 5px;
}

/* call to action */

#offer {
    margin: 20px 0;
    font-size: 170%;
    text-align: center;
    font-weight: 400;
    line-height: 150%;
    color: #020202;
}

#book-appointment {
    font-size: 150%;
}

/* contact info */

#contact {
    text-align: center;
    padding: 30px;
}

/* footer */

footer {
    background-color: rgba(242, 175, 41, 0.7);
}

footer p {
    text-align: center;
    font-size: 110%;
    padding-top: 15px;
    font-family: Oswald, sans-serif;
}

/* links to social networks, font awesome */

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 6px;
    padding: 15px 15px 25px;
    color: #020202;
}

/* services page */

#services-prices {
    background-color: rgba(242, 175, 41, 0.2);
    width: 33%;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    top: 100px;
}

#services-prices h2 {
    font-size: 200%;
    font-weight: 800;
    letter-spacing: 2px;
    padding-left: 30px;
}

#services-list {
    font-size: 24px;
    padding: 15px 0 15px 15px;
    line-height: 175%;
}

span {
    float: right;
    padding-right: 30px;
}
    

.divider {
    border: 1px solid #950952;
    margin: 2px 0;
}

#appointment {
    width: 250px;
    height: 45px;
    margin: 0 auto 20px;
    display: block;
    background-color: #950952;
    border-radius: 5px;
}

#services-booking a {
    text-decoration: none;
    font-family: Oswald, sans-serif;
    letter-spacing: 2px;
    font-size: 150%;
    color: #fefcfb;
    padding: 10px;
    text-align: center;
}

#services-booking a:hover {
    color: #f2af29;
}

#services-booking h3 {
    margin: 130px auto 10px;
    font-size: 200%;
    text-align: center;
    font-weight: 500;
    line-height: 150%;
    color: #020202;
}

/* booking page */

.book-form {
    font-family: 'Source Serif Pro', sans-serif;
    margin: 0 auto 40px;
    color: #020202;
    background-color:rgba(242, 175, 41, 0.2);
    max-width: 400px;
    position: relative;
    top: 30%;
    padding: 30px;
}

.book-form h2 {
    font-family: Oswald, sans-serif;
    color: #f2af29;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 210%;
}

.info {
    color: #020202;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 2px solid #fefcfb;
    border-radius: 2px;
}

.info:hover {
    border-color: #950952;
}

textarea {
    margin-top: 5px;
    width: 100%;
}

input[type=submit] {
	margin: 20px auto;
	padding: 0.50rem;
	background-color: #950952;
	color: #fefcfb;
	border: none;
	border-radius: 5px;
    font-size: 110%;
}

/* Media queries */

@media screen and (max-width: 1200px) {
    #hero-image-text {
        height: 250px;
    }

    #welcome {
        font-size: 160%;
        margin: 20px;
    }

    .book-form {
        margin: 50px auto 40px;
    }

    #services-prices {
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
        line-height: 25px;
    }

    #cover-text {
        font-size: 390%;
    }

    #welcome {
        font-size: 140%;
        margin: 30px;
    }

    #gallery {
        margin-left: 6px;
    }

    #gallery > img {
        width: 32%;
    }

    #offer {
        font-size: 140%;
    }

    #contact h2 {
        font-size: 26px;
    }

    #contact p {
        font-size: 18px;
    }

    #services-prices {
        width: 70%;
        top: 50px;
    }

    #services-prices h2 {
        font-size: 150%;
        padding-left: 10px;
    }

    #services-list p {
        font-size: 18px;
    }

    span {
        padding-right: 5px;
    }

    #services-booking h3 {
        margin: 70px auto 10px;
        font-size: 26px;
    }

    .book-form h2 {
        font-size: 28px;
    }
}